{% extends 'layout.html.twig' %}
{% set active = 'doctrine' %}

{% block content %}

    <h1>{{ 'Last FM4 Tracklist'|trans }}</h1>

    <ul>
        {% for track in tracks %}
            <li>{{ track.zeit }}, {{ track.interpret}} : {{ track.title }}, Neu: {{ track.new}}</li>
        {% endfor %}
    </ul>

{% endblock %}
