{% extends 'layout.html.twig' %}
{% set active = 'doctrine' %}

{% block content %}

    <h1>{{ 'FM4 TOP 30'|trans }}</h1>


    <ul>
        {% for track in tracks %}
            <li><a href="{{ path('artist') }}/{{ track.track }}">{{ track.interpret}}</a> --- <a href="{{ path('track') }}/{{ track.track }}?all=1">{{ track.title }}</a> | Count: {{ track.count }}</li>
        {% endfor %}
    </ul>

{% endblock %}
