{% extends 'layout.html.twig' %}
{% set active = '' %}

{% block content %}

    <h1>{{artist}}</h1>

    <ul>
        {% for track in tracklist %}
            <li>{{loop.index}}: <a href="{{ path('track') }}/{{ track.trackid }}">{{ track.title }} </a>| Count: {{ track.count }}</li>
        {% endfor %}
    </ul>

{% endblock %}
