{% extends 'layout.html.twig' %}
{% set active = '' %}

{% block content %}

    <h1>{{track.artist}} --- {{track.title}}  --- {{ playlist[0]['count']}} {{ 'mal gespielt'|trans}} </h1>

    <ul>
        {% for play in playlist %}
            <li>{{playlist[0]['count'] - loop.index0}}: {{ play.zeit }} </li>
        {% endfor %}
    </ul>

{% endblock %}
